<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>HTML Document</title>
      <!-- <link href="css/style.css" rel="stylesheet"> -->
   </head>
   <body>
   	<h1>
   		Домашнеее задание
   	</h1>
   	<h3>
   		Классификацию автоматизированного тестирования
   	</h3>
   	<ul>
   		<li >
   			<a href="https://www.qastart.by/class/vidi-testirovaniya-m/44-funktsionalnoe-testirovanie">Функциональное</a> 
   		</li>
   		<li>
   			<a href="#Func">Нефункциональное</a> 
   		</li>
   	</ul>

   	<p>
   		Функциональные виды тестирования
   	</p>
   	<p>
   		Функциональные виды тестирования рассматривают внешнее поведение системы.
   	<p>
   		Функциональные тесты базируются на функциях и особенностях, а также взаимодействии с другими системами, и могут быть представлены на всех уровнях тестирования: <i>компонентном или модульном</i> <b>(Component/Unit testing)</b>,
<i>интеграционном</i> <b>(Integration testing)</b>, <i>системном</i>> <b>(System testing)</b> . 
   	</p>

   	<p>
   		Самыми распространенными видами функциональных тестов являются:
   	</p>

   	<ul>
   		<li>
   			Функциональное тестирование (Functional testing)
   		</li>
   		<li>
   			Тестирование безопасности (Security and Access Control Testing)
   		</li>
   		<li>
   			Тестирование взаимодействия (Interoperability Testing)
   		</li>
   	</ul>









- 
- 
- 


Нефункциональные виды тестирования


Нефункциональное тестирование описывает тесты, необходимые для определения характеристик программного обеспечения, которые могут быть измерены различными величинами. Это тестирование того, "Как" система работает.
Основными видами нефункциональных тестов являются:


- Все виды тестирования производительности:

нагрузочное тестирование (Performance and Load Testing)
стрессовое тестирование (Stress Testing)
тестирование стабильности или надежности (Stability / Reliability Testing)
объемное тестирование (Volume Testing)
- Тестирование установки (Installation testing)
- Тестирование удобства пользования (Usability Testing)
- Тестирование на отказ и восстановление (Failover and Recovery Testing)
- Конфигурационное тестирование (Configuration Testing)




   </body>